@{
  Layout = "_Layout";
}

@model Sweet.Models.Treat

<h2>Update</h2>

<h4>update treats: @Html.DisplayFor(model => model.Products)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.LabelFor(model => model.Products)
    @Html.EditorFor(model => model.Products)

    @Html.Label("Select flavor")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>